div#kodLobby{
    position: absolute;
    bottom: 5%;
    left: 50%;
    transform: translate(-50%,0);
    font-size: 50px;
}

div#start, div#startFake{
    position: absolute;
    bottom: 4%;
    left: 4%;
    font-size: 5vw;
    background-color: #c2c2c2;
}

div#start:active{
    background-color: #888888;
}


/* lista graczy */
div#jedenGracz{
    border: 5px solid black;
    width: 500px;
    font-size: 50px;    
    margin-bottom: 5px;
}

div#ListaGraczy{
    position: absolute;
    top: 10%;
    right: 1%;
}

h1#mojNick{
    color: white;
}




/* liczba graczy */
div#liczbaGraczy{
    color: rgb(170, 1, 1);
    font-size: 5vh;
    font-weight: bold;

    position: absolute;
    top: 5%;
    left: 5%;
}

div#liczbaGraczy1{
    color: black;
}
