div#OpisKlasyBack{
    /* width: 25vw; */

    /* position: absolute;
    top: 50%;
    right: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(0, 227, 197);
    opacity: 20%; */
}